.button {
  border: none;
  background-color: #7859cf;
  padding: 8px 20px;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;

  &:hover,
  &:focus {
    background-color: #9070ec;
  }

  &:active {
    background-color: #593cac;
  }

  &:disabled {
    background-color: #bdbdbd;
  }

  &--light {
    background-color: #ffffff;
    color: #7859cf;

    &:hover,
    &:focus {
      color: #ffffff;
    }

    &:disabled {
      color: #ffffff;
      background-color: #e2e2e2;
    }
  }
}
