@use "../global/variables.scss";

.catalog {
  width: 100%;
  background-color: variables.$lightest-grey;
  padding-top: 50px;
  padding-bottom: 44px;
}

.catalog__wrapper {
  width: variables.$mobile-width;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog__title {
  padding-top: 4px;
  padding-bottom: 20px;
}

.catalog__sorting {
  padding: 40px 0 20px;
}

@media (min-width: variables.$tablet-width) {
  .catalog {
    padding-top: 80px;
    padding-bottom: 90px;
  }

  .catalog__wrapper {
    width: variables.$tablet-width;
  }

  .catalog__title {
    padding-bottom: 20px;
  }

  .catalog__sorting {
    padding: 44px 0 30px;
  }
}

@media (min-width: variables.$desktop-width) {
  .catalog {
    padding-top: 100px;
    padding-bottom: 120px;
  }

  .catalog__title {
    padding-bottom: 0;
  }

  .catalog__wrapper {
    width: variables.$desktop-width;
    padding-right: 40px;
    padding-left: 388px;
    position: relative;
  }

  .catalog__form {
    position: absolute;
    top: 40px;
    left: 40px;
  }

  .catalog__sorting {
    padding-top: 40px;
  }
}
