@use "../global/variables.scss";

.catalog {
  width: 100%;
  background-color: variables.$lightest-grey;
  padding: 50px 20px 44px;
  box-sizing: border-box;
}

.catalog__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog__title {
  padding-top: 4px;
  padding-bottom: 20px;
}

.catalog__sorting {
  padding: 40px 0 20px;
}

@media (min-width: variables.$tablet-width) {
  .catalog {
    padding: 80px 20px 90px;
  }
}

@media (min-width: variables.$desktop-width) {
  .catalog {
    padding: 100px 40px 120px;
  }

  .catalog__title {
    padding-bottom: 0;
  }

  .catalog__wrapper {
    padding-left: 348px;
    position: relative;
  }
}
