@use "../global/variables.scss";

.features {
  padding-top: 50px;
  padding-bottom: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__title {
  padding-top: 4px;
  padding-bottom: 36px;
}

.features__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  width: variables.$mobile-width;
  margin: 0 auto;
  box-sizing: border-box;
}

.features__list {
  display: grid;
  gap: 32px;
}

@media (min-width: variables.$tablet-width) {
  .features {
    padding-top: 61px;
    padding-bottom: 100px;
  }

  .features__wrapper {
    padding-left: 30px;
    padding-right: 30px;
    width: variables.$tablet-width;
  }

  .features__title {
    padding-bottom: 60px;
  }

  .features__list {
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 50px;
  }
}

@media (min-width: variables.$desktop-width) {
  .features {
    padding-top: 100px;
    padding-bottom: 120px;
  }

  .features__wrapper {
    padding-left: 40px;
    padding-right: 40px;
    width: variables.$desktop-width;
  }

  .features__title {
    padding-bottom: 80px;
  }

  .features__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 50px;
  }
}
