@use "../global/variables.scss";

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature__title {
  padding-top: 10px;
  padding-bottom: 4px;
}

.feature__text {
  margin: 0;
  padding: 0;
  text-align: center;
}

@media (min-width: variables.$tablet-width) {
  .feature {
    position: relative;
    padding-left: 72px;
    align-items: flex-start;
  }

  .feature__svg {
    position: absolute;
    left: 0;
    top: 0;
  }

  .feature__title {
    padding-top: 0;
    padding-bottom: 10px;
  }

  .feature__text {
    padding: 0;
    text-align: start;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: variables.$desktop-width) {
  .feature {
    position: relative;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .feature__svg {
    position: static;
  }

  .feature__title {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .feature__text {
    text-align: center;
  }
}
