@use "../global/variables.scss";

.footer-logo__text {
  display: none;
}

@media (min-width: variables.$desktop-width) {
  .footer-logo {
    display: grid;
    gap: 5px;
  }

  .footer-logo__text {
    margin: 0;
    padding: 0;
    display: flex;
  }
}
