@use "../global/variables.scss";

.form {
  width: 100%;
}

.form__wrapper {
  margin: 0 auto;
  display: grid;
  gap: 30px;
}

.form__inner {
  padding-top: 30px;
  margin-left: 3px;
  margin-right: -3px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: variables.$tablet-width) {
  .form {
    gap: 40px;
  }

  .form__wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .form__inner {
    padding-top: 40px;
    flex-direction: row;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: variables.$desktop-width) {
  .form {
    width: 318px;
  }

  .form__wrapper {
    margin: 0;
    grid-template-columns: 1fr;
  }

  .form__inner {
    justify-content: flex-start;
  }

  .form__button {
    width: 149px;
    box-sizing: border-box;
  }
}
