@use "../global/variables.scss";

.main-nav {
  display: none;
  background-color: #ffffff;
  width: 100%;

  &--active {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    display: flex;
    z-index: 2;
  }

  &--no-js {
    order: 1;
    position: static;
    display: flex;
  }
}

@media (min-width: variables.$tablet-width) {
  .main-nav {
    display: flex;

    &--no-js {
      order: 0;
    }
  }
}
