@use "../global/variables.scss";

.main-nav {
  display: none;
  margin: 0 auto;
  background-color: #ffffff;
  width: 100%;

  &--active {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 2;
  }

  &--no-js {
    position: static;
    display: flex;
    flex-direction: column;
  }
}



@media (min-width: variables.$tablet-width) {
  .main-nav {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 169px;
    width: fit-content;

  }
}

@media (min-width: variables.$desktop-width) {
  .main-nav {
    left: 518px;
  }

  .header__text {
    display: inline-flex;
  }
}
