@use "../global/variables.scss";

.map {
  width: 100%;
  height: 420px;
}

@media (min-width: variables.$tablet-width) {
  .map {
    height: 480px;
  }
}

@media (min-width: variables.$desktop-width) {
  .map {
    height: 540px;
  }
}
