@use "../global/mixins.scss";
@use "../global/variables.scss";

.menu-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menu-list__item {
  border-bottom: 1px solid variables.$base-secondary;

  &:first-child {
    border-top: 1px solid variables.$base-secondary;
  }
}

.menu-list__link {
  @include mixins.header-link-hover-down;
  display: inline-flex;
  padding: 20.5px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}

@media (min-width: variables.$tablet-width) {
  .menu-list__item {
    border: none;

    &:first-child {
      border: none;
    }
  }

  .menu-list {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .menu-list__link {
    padding: 32px 20px;
  }

  .menu-list__link--current {
    color: variables.$base-primary;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: variables.$base-primary;
    }
  }
}

@media (min-width: variables.$desktop-width) {
  .menu-list {
    gap: 20px;
  }
}
