@use "../global/variables.scss";
@use "../global/mixins.scss";

.range {
  padding-top: 20px;
}

.range__scale {
  margin: 10px 0;
  position: relative;
  height: 4px;
  background-color: $light-gray;
  width: 100%;
}

.range__bar {
  position: absolute;
  background-color: $primary-lighter;
  height: 4px;
  width: 86%;
  left: 10px;
}

.range__toggle {
  position: absolute;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border: 2px solid $primary-lighter;
  border-radius: 50%;
  background-color: $base-white;
  top: -10px;
  z-index: 1;

  &--min {
    left: -10px;
  }

  &--max {
    right: -12px;
  }

  &:hover::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background-color: $primary-opacity;
    border-radius: 50%;
  }

  &:active {
    border-color: $base-primary;
  }

  &:active::after {
    background-color: $base-primary;
  }
}

.range__inner {
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.range__input {
  @include mixins.input-hover-down;
  width: 118px;
  box-sizing: border-box;
  border: 2px solid $primary-lighter;
  border-radius: 4px;
  padding: 6px 10px;
  text-align: center;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 24px;
}

.range__span {
  width: 8px;
  height: 2px;
  background-color: $base-gray;
}

@media (min-width: variables.$tablet-width) {
  .range__toggle--max {
    right: 0;
  }

  .range__inner {
    padding-top: 20px;
  }
  .range__input {
    width: 88px;
  }
}

@media (min-width: variables.$desktop-width) {
  .range__toggle--max {
    right: -14px;
  }

  .range__inner {
    padding-top: 22px;
  }
  .range__input {
    width: 134px;
  }
}
