
.range {
  padding-top: 20px;
}

.range__scale {
  margin: 10px 0;
  position: relative;
  height: 2px;
  background-color: #e2e2e2;
  width: 100%;
}

.range__bar {
  position: absolute;
  background-color: #9070ec;
  height: 2px;
  width: 86%;
  left: 10px;
}

.range__toggle {
  position: absolute;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border: 2px solid #9070ec;
  border-radius: 50%;
  background-color: #ffffff;
  top: -12px;
  z-index: 1;

  &--min {
    left: -12px;
  }

  &--max {
    right: -12px;
  }
}


.range__toggle:hover {
  opacity: 50%;
}

.range__toggle:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.range__inner {
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.range__input {
  width: 118px;
  box-sizing: border-box;
  border: 2px solid #9070ec;
  border-radius: 4px;
  padding: 8px 10px;
}

.range__span {
  width: 8px;
  height: 2px;
  background-color: #bdbdbd;
}
