@use "../global/variables.scss";

.title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: variables.$base-black;
  text-align: center;

  &--small {
    font-size: 18px;
  }
}

@media (min-width: variables.$tablet-width) {
  .title {
    font-size: 42px;

    &--small {
      font-size: 24px;
    }

  }
}
